<div class = "form">
  <p id="notice"><%= notice %></p>

  <p style="color:Black; font-size: 16px;">
    <strong style="color:#1d5a67">Title:</strong>
    <%= @book.title %>
  </p>


  <p style="color:Black; font-size: 16px;">
    <strong style="color:#1d5a67">Author:</strong>
    <%= @book.author %>
  </p>

  <p style="color:Black; font-size: 16px;">
    <strong style="color:#1d5a67">Genre:</strong>
    <%= @book.genre %>
  </p>

  <p style="color:Black; font-size: 16px;">
    <strong style="color:#1d5a67">Year:</strong>
    <%= @book.year %>
  </p>

  <p style="color:Black; font-size: 16px;">
    <strong style="color:#1d5a67">Cover:</strong>
  </p>

  <p   style="text-align:center;">
    <%= image_tag @book.cover.url(:large) %>
  </p>

  <%if current_user == @book.user  || current_user.admin? %>
    <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-info", style: "color: white" %>
    <%= link_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info", style: "color: white" %>
  <% end %>
  <%= link_to 'Back', books_path, class: "btn btn-info", style: "color: white" %>
  <%= link_to 'Related Albums', books_albumsrelated_path , class: "btn btn-info", style: "color: white" %>

</div>
