<%= form_with(model: album, local: true) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "formularioAlbum">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control", id:"exampleInputEmail1", :placeholder => "Title" %>
    </div>

    <div class="field">
      <%= form.label :artist %>
      <%= form.text_field :artist, class: "form-control", id:"exampleInputEmail1", :placeholder => "Artist" %>
    </div>

    <div class="field">
      <%= form.label :genre %>
      <%= form.text_field :genre, class: "form-control", id:"exampleInputEmail1", :placeholder => "Genre" %>
    </div>

    <div class="field">
      <%= form.label :year %>
      <%= form.number_field :year, class: "form-control", id:"exampleInputEmail1", :placeholder => "Year" %>
    </div>

    <div class="actions">
      <%= form.submit 'Submit', :class => "btn btn-info" %>
    </div>
  </div>
<% end %>
