<div class = "form">
  <p id="notice"><%= notice %></p>

  <h1>Albums</h1>

  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Year</th>
        <th>User</th>
        <th>Options<th/>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= image_tag album.cover.url(:thumb) %></td>
          <td><%= album.title %></td>
          <td><%= album.artist %></td>
          <td><%= album.genre %></td>
          <td><%= album.year %></td>
          <td><%= album.user.user_name %></td>
          <td><%= link_to 'Details', album, class: "btn btn-info", style: "color: white" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Album', new_album_path, class: "btn btn-info", style: "color: white" %>
</div>
