<div class = "form">
  <p id="notice"><%= notice %></p>

  <h1>My Albums</h1>

  <table class="table table-hover" >
    <thead style="background-color: white; color:#1d5a67">
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Year</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @albums.each do |album| %>
        <%if current_user == album.user%>
          <tr>
            <td><%= image_tag album.cover.url(:thumb) %></td>
            <td><%= album.title %></td>
            <td><%= album.artist %></td>
            <td><%= album.genre %></td>
            <td><%= album.year %></td>
            <td><%= link_to 'Details', album, class: "btn btn-info", style: "color: white" %></td>
            <td><%= link_to 'Add Books', albums_addbooks_path(album), class: "btn btn-info", style: "color: white" %></td>

          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Album', new_album_path, class: "btn btn-info", style: "color: white" %>
</div>
