<div class = "form">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @album.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= @album.artist %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= @album.genre %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= @album.year %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= image_tag @album.cover.url(:medium) %>
  </p>
  <%if current_user == @album.user%>
    <%= link_to 'Edit', edit_album_path(@album), class: "btn btn-info", style: "color: white" %>
    <%= link_to 'Delete', @album, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info", style: "color: white" %>
  <% end %>
  <%= link_to 'Back', albums_path, class: "btn btn-info", style: "color: white" %>
  <%= link_to 'Related Books', albums_booksrelated_path , class: "btn btn-info", style: "color: white" %>

</div>
