<div class = "form">
  <p id="notice"><%= notice %></p>

  <p style="color:Black; font-size: 16px;" >
    <strong style="color:#1d5a67" >Title:</strong>
    <%= @album.title %>
  </p>

  <p style="color:Black; font-size: 16px;" >
    <strong style="color:#1d5a67" >Artist:</strong>
    <%= @album.artist %>
  </p>

  <p style="color:Black; font-size: 16px;" >
    <strong style="color:#1d5a67" >Genre:</strong>
    <%= @album.genre %>
  </p>

  <p style="color:Black; font-size: 16px;" >
    <strong style="color:#1d5a67" >Year:</strong>
    <%= @album.year %>
  </p>

  <p style="color:Black; font-size: 16px;">
    <strong style="color:#1d5a67">Cover:</strong>
  </p>

  <p style="text-align:center;" >
    <%= image_tag @album.cover.url(:medium) %>
  </p>

  <%if current_user == @album.user  || current_user.admin?%>
    <%= link_to 'Edit', edit_album_path(@album), class: "btn btn-info", style: "color: white" %>
    <%= link_to 'Delete', @album, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info", style: "color: white" %>
  <% end %>
  <%= link_to 'Back', albums_path, class: "btn btn-info", style: "color: white" %>
  <%= link_to 'Related Books', albums_booksrelated_path , class: "btn btn-info", style: "color: white" %>

</div>
