<div class = "form">
  <p id="notice"><%= notice %></p>

    <%if current_user.admin?%>
        <strong style="color:#1d5a67; font-size: 35px" >Admin User</strong>
    <%end%>

  <p>

    <%= image_tag (current_user.avatar.url(:medium)) %>
  </p>

  <p style="color:Black; font-size: 16px;" >
    <strong style="color:#1d5a67" >First Name:</strong>
    <%= @user.first_name %>
  </p>

  <p style="color:Black; font-size: 16px;" >
    <strong style="color:#1d5a67" >Last Name:</strong>
    <%= @user.last_name %>
  </p>

  <p style="color:Black; font-size: 16px;" >
    <strong style="color:#1d5a67" >User Name:</strong>
    <%= @user.user_name %>
  </p>

  <p style="color:Black; font-size: 16px;" >
    <strong style="color:#1d5a67" >Email:</strong>
    <%= @user.email %>
  </p>

  <%= link_to 'Edit', edit_user_registration_path(@user), class: "btn btn-info", style: "color: white" %>
</div>
