<!DOCTYPE html>
<html>
  <head>
    <title>AlbumShelf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #3d6f94;">
      <font color="white"><%= link_to 'AlbumShelf', albums_path, style: "text-decoration: none; color: white; font-size: 20px" %></font>
      <%= link_to 'My Albums', albums_path, style: "text-decoration: none; color: white"%>
      <%= link_to 'My Books', new_album_path, style: "text-decoration: none; color: white"%>
      <%= link_to 'New Album', new_album_path, style: "text-decoration: none; color: white"%>
      <%= link_to 'Log In', new_user_session_path, style: "text-decoration: none; color: white"%>
      <%= link_to 'Sign Up', new_user_registration_path, style: "text-decoration: none; color: white"%>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, style: "text-decoration: none; color: white"%>


    </nav>

    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
